:root {
    --text-color: #4a4a4a;
    --border-color: #f5f5f5;
}

.mobile-footer {
    display: none; 
}

@media(max-width: 767px) {
    .breadcrumb {
        display: none;
    }

    .reverse-mobile {
        flex-direction: column-reverse;
        display: flex;
    }

    .mobile-footer-padding {
        height: 3em;
    }

    .mobile-footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .mobile-footer-content {
        position: relative;
        display: flex;
        background: white;
        justify-content: space-around;
        border-top: var(--border-color) solid 1px;
        padding-bottom: env(safe-area-inset-bottom);
    }

    .mobile-footer-content a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-color);
        padding: 0.5em 1em;
    }

    .mobile-footer-content a:hover {
        background: var(--border-color);
    }
}