{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard") (array "/edit" "Edit Tests")}}}

            <h1 class="title">Tests you've created</h1>
        </section>
        
        <section class="section">
            <div class="card">
                <div class="card-content">
                    <ul class="menu-list">
                        <li>
                            <a href="/edit/test">
                                <i class="fas fa-file"></i> New test
                            </a>
                        </li>
                        <hr>
                    {{#each tests as |test|}}
                        <li>
                            <a href="/edit/test/{{test.id}}">
                                <i class="fas fa-edit"></i> Edit: {{test.name}}
                            </a>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </section>

        {{{footer}}}
    </div>
</body>