{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard") (array "/edit" "Edit Tests") (array "/edit/test" "New")}}}

            <h1 class="title">New Test</h1>
        </section>

        <section class="section">
            <div class="card">
                <div class="card-content">
                    <form method="POST" enctype='multipart/form-data'>
                        <div class="field">
                            <label for="name" class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" name="Name">
                            </div>
                        </div>
                        <div class="field">
                            <label for="name" class="label">Image</label>
                            <div class="control">
                                <input type="file" name="Image">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="submit" class="button is-link" value="Create test" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        {{{footer}}}
    </div>
</body>