{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard") (array "/edit" "Edit Tests") (array (concat "/edit/" test.id) test.name)}}}

            <h1 class="title">
                {{test.name}}
                <a href="/edit/delete/{{test.id}}" class="button is-danger" onclick="return window.confirm('Are you sure?');">Delete</a>
            </h1>
        </section>

        <section class="section">
            <div class="card">
                <div class="card-content">
                    <div class="level">
                        <div class="level-left">
                            <div style="position: relative;">
                                <img src="/images/{{test.image}}">
                            </div>
                        </div>
                        <div class="level-right">
                            <form style="display: none" method="POST">
                                <div class="field">
                                    <label for="name" class="label">Part name</label>
                                    <div class="control">
                                        <input class="input" type="text" name="answer">
                                    </div>
                                </div>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <input type="submit" class="button is-link" value="Add part" />
                                    </div>
                                </div>
                                <input type="hidden" name="x">
                                <input type="hidden" name="y">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">
                        Tags
                    </p>
                </div>
                <div class="card-content">
                    <aside class="menu">
                        <ul>
                            {{#each tags as |tag|}}
                                <li>
                                    <a href="/tags/{{@root.test.id}}/{{tag.id}}/delete" onclick="return window.confirm('Are you sure you want to delete this tag?');">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                    {{tag.tag}}
                                </li>
                            {{/each}}
                        </ul>
                    </aside>
                    <hr>
                    <form method="POST" action="/tags/test/{{test.id}}">
                        <div class="field">
                            <label for="name" class="label">New Tag</label>
                            <div class="control">
                                <input class="input" type="text" name="tag">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="submit" class="button is-link" value="Add tag" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">
                        References
                    </p>
                </div>
                <div class="card-content">
                    <aside class="menu">
                        {{#if (isEmpty references)}}
                            <strong>You have no references, add some</strong>
                        {{/if}}
                        <ul>
                            {{#each references as |reference|}}
                                <li>
                                    <a href="/reference/{{reference.id}}/delete" onclick="return window.confirm('Are you sure you want to delete this reference?');">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                    {{reference.reference}}
                                </li>
                            {{/each}}
                        </ul>
                    </aside>
                    <hr>
                    <form method="POST" action="/reference/test/{{test.id}}">
                        <div class="field">
                            <label for="name" class="label">New Reference</label>
                            <div class="control">
                                <input class="input" type="text" name="reference">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="submit" class="button is-link" value="Add reference" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        {{{footer}}}
    </div>

    <div class="selection" style="display: none;"></div>

    {{#each answers as |answer|}}
        <div
            class="answer"
            style="display: none;"
            data-x="{{answer.x}}"
            data-y="{{answer.y}}"
        >
            <div>
                <a href="/edit/answer/delete/{{answer.id}}" class="circle" onclick="return window.confirm('Do you want to delete the {{answer.answer}}?');"></a>
                <div class="notification is-info name">
                    {{answer.answer}}
                </div>
            </div>
        </div>
    {{/each}}

    <style>
        img {
            max-height: 60vh;
        }

        .answer {
            position: absolute;
        }

        .answer > div {
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;
        }

        .answer .name {
            position: fixed;
            left: 1em;
            bottom: 1em;
            visibility: hidden;
        }

        .answer:hover .name {
            visibility: unset;
        }

        .circle {
            background-color:#fff;
            border:1px solid blue;    
            display: block;
            width: 12px;
            height: 12px;
            border-radius:50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
        }

        .selection {
            background-color:#fff;
            border:1px solid red;    
            width: 12px;
            height: 12px;
            border-radius:50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
            position: absolute;
        }
    </style>
</body>