{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard")}}}

            <div class="level">
                <div class="level-left">
                    <h1 class="title">
                        {{greeting}} {{#if (isDefined accountId)}} {{account.username}} {{/if}}
                    </h1>
                </div>
                <div class="level-right">
                    {{#if (isDefined accountId)}}
                        <a href="/profile" class="button is-hidden-mobile"><i class="fas fa-user-alt"></i>&nbsp;Profile</a>
                    {{else}}
                        <a href="/login" class="button is-hidden-mobile"><i class="fas fa-user-alt"></i>&nbsp;Login</a>
                    {{/if}}
                </div>
            </div>
        </section>

        {{{notifications}}}

        <section class="section">
            <div class="card">
                <div class="card-content">
                    {{#if (isDefined accountId)}}
                        <aside class="menu">
                            <ul class="menu-list">
                                <li>
                                    <a href="/quiz">
                                        <i class="fas fa-scroll"></i> Test yourself
                                    </a>
                                </li>
                                <li>
                                    <a href="/edit">
                                        <i class="fas fa-feather-alt"></i> Write your own Tests
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    {{else}}
                        <p>
                            Nice to meet you! 👋<br/>
                            You'll need to sign in before you can do any quizzes. You can
                            log in <a href="/login">here</a> or register <a href="/register">here</a>.
                        </p>
                    {{/if}} 
                </div>
            </div>
        </section>

        {{{footer}}}
    </div>
</body>