{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard") (array "/login" "Login")}}}

            <div class="level">
                <div class="level-left">
                    <h1 class="title">
                        Welcome back!
                    </h1>
                </div>
                <div class="level-right">
                    <a href="/register" class="button"><i class="fas fa-user-alt"></i>&nbsp;Register</a>
                </div>
            </div>
        </section>

        {{{notifications}}}

        <section class="section">
            <div class="card">
                <div class="card-content">
                    <form method="POST" action="/login">
                        <div class="field">
                            <label for="name" class="label">Username</label>
                            <div class="control">
                                <input class="input" type="text" name="username">
                            </div>
                        </div>

                        <div class="field">
                            <label for="name" class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password">
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <input type="submit" class="button is-link" value="Login" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        {{{footer}}}
    </div>
</body>