{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard") (array "/profile" "Profile")}}}

            <div class="level is-mobile">
                <div class="level-left">
                    <h1 class="title">
                        <i class="fas fa-user-circle"></i> {{account.username}}
                    </h1>
                </div>
                <div class="level-right">
                    <a href="/sign-out" class="button is-danger" onclick="return window.confirm('Are you sure?');">
                        <i class="fas fa-user-alt"></i>&nbsp;Sign out
                    </a>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="card">
                <div class="card-content">
                    <h1 class="title">Create a study group</h1>
                    <form method="POST" action="/study-group">
                        <div class="field">
                            <label for="name" class="label">Study group name</label>
                            <div class="control">
                                <input class="input" type="text" name="name">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <input type="submit" class="button is-primary" value="Create study group" />
                            </div>
                        </div>
                        <input type="hidden" name="x">
                        <input type="hidden" name="y">
                    </form>
                    <hr>
                    <aside class="menu">
                        <h1 class="title">Your study groups</h1>
                        <p>
                            <i class="fas fa-info-circle"></i> Members of study groups can see each others test
                        </p>
                        {{#if (isEmpty account.studyGroups)}}
                            <small>You're not part of any study groups. Why don't you make one?</small>
                            <hr>
                        {{/if}}
                        {{#each account.studyGroups as |studyGroup|}}
                            <p class="menu-label">
                                {{studyGroup.name}} members
                            </p>
                            <ul>
                                {{#each studyGroup.accounts as |studyGroupAccount|}}
                                <li>
                                    {{studyGroupAccount.username}}
                                    {{#if (eq studyGroupAccount.id @root.account.id)}}
                                        <a
                                            href="/study-group/{{studyGroup.id}}/user/delete"
                                            class="is-small"
                                            onclick="return window.confirm('Are you sure you want to leave this group?');"
                                        >
                                            <i class="fas fa-times-circle"></i>
                                        </a>
                                    {{/if}}
                                </li>
                                {{/each}}
                            </ul>
                            <br>
                            <form action="/study-group/{{studyGroup.id}}/user" method="POST">
                                <div class="field">
                                <label for="name" class="label">Add member to study group</label>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <input class="input" type="text" name="username" placeholder="username">
                                        </div>
                                        <div class="control">
                                            <input type="submit" class="button is-light" value="Add to study group" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                        {{/each}}
                    </aside>
                </div>
            </div>
        </section>

        {{{footer}}}
    </div>
</body>