{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard") (array "/quiz" "Tests") (array (concat "/quiz/" test.id) test.name)}}}

            <h1 class="title">
                {{test.name}} by {{account.username}}
            </h1>

            <progress class="progress is-primary" value="0" max="{{ answers.length }}"></progress>
        </section>

        <section class="section">
            <div class="card">
                <div class="card-content">
                    <div class="level reverse-mobile">
                        <div class="level-left" style="flex: 1">
                            <div style="position: relative;">
                                <img style="max-width: 100%;" src="/images/{{test.image}}">
                            </div>
                        </div>
                        <div class="level-left" style="flex: 1">
                            <div style="padding: 1em;">
                                <h2 class="title result-section"></h2>
                                <div class="buttons answers-list">
                                </div>
                                <button style="display: none;" class="button next" onclick="nextQuestion()">Next</button>
                                <a style="display: none;" id="go-back" class="button is-primary" href="/quiz">Do another test</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        {{#if (not (isEmpty references))}}
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                            References
                        </p>
                    </div>
                    <div class="card-content">
                        <aside class="menu">
                            <ul>
                                {{#each references as |reference|}}
                                    <li>
                                        {{reference.reference}}
                                    </li>
                                {{/each}}
                            </ul>
                        </aside>
                    </div>
                </div>
            </section>
        {{/if}}
        
        {{{footer}}}
    </div>
    {{#each answers as |answer|}}
        <div
            class="answer"
            style="display: none;"
            data-id="{{answer.id}}"
            data-x="{{answer.x}}"
            data-y="{{answer.y}}"
        >
            <div class="circle"></div>
        </div>
    {{/each}}

    <script>
        var answers = {{{toJSON answers}}};
    </script>

    <style>
        progress {
            transition: width 1s ease
        }

        img {
            max-height: 50vh;
        }

        .answer {
            position: absolute;
            align-items: center;
            flex-direction: column;
        }

        .circle {
            background-color:#fff;
            border:1px solid blue;    
            width: 18px;
            height: 18px;
            border-radius:50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
        }
    </style>
</body>