{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard") (array "/quiz" "Tests")}}}

            <h1 class="title">Good luck!</h1>
        </section>

        {{{notifications}}}

        {{#if (not (isEmpty tags))}}
            <section class="section">
                <strong>Tags</strong>
                <br />
                {{#each tags as |tag|}}
                    <span class="tag is-light">{{tag.tag}}</span>
                {{/each}}
            </section>
        {{/if}}
        <section>
            <div class="card">
                <div class="card-content">
                    {{#if (and (isEmpty long_tests) (isEmpty short_tests))}}
                        <p>
                            <i class="fas fa-info-circle"></i> It looks like you don't have any quizzes yet <br />
                            You can either make your own quizes <a href="/edit">here</a> or ask a classmate to add
                            you to their study group so that you can see their quizes.<br />
                            You can also make your own study group <a href="/profile">here</a>.
                        </p>
                    {{else}}
                        <div class="level" style="align-items: flex-start;">
                            <div class="level-item level-left">
                                <aside class="menu">
                                    <p class="menu-label">
                                        Long tests
                                    </p>
                                    <ul class="menu-list">
                                        {{#each long_tests as |test|}}
                                        <li data-tags="{{toJSON test.tags}}">
                                            <a href="/quiz/{{test.id}}">
                                                <i class="fas fa-dog"></i> {{test.name}} by {{test.account.username}}
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </aside>
                            </div>

                            <div class="level-item level-left">
                                <aside class="menu">
                                    <p class="menu-label">
                                        Short tests
                                    </p>
                                    <ul class="menu-list">
                                        {{#each short_tests as |test|}}
                                        <li data-tags="{{toJSON test.tags}}">
                                            <a href="/quiz/{{test.id}}">
                                                <i class="fas fa-dog"></i> {{test.name}} by {{test.account.username}}
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </section>

        {{{footer}}}
    </div>

    <style>
        .tag:hover {
            cursor: pointer;
        }
    </style>
</body>