{{{header}}}
<body>
    <div class="container">
        <section class="section">
            {{{breadcrumbs (array "/" "Dashboard") (array "/terms" "Terms of use")}}}
        </section>

        <section class="section">
            <div class="card">
                <div class="card-content">
                    <p>
                        This service is <strong>only for educational purposes</strong> and is non profit.
                    </p>
                </div>
            </div>
        </section>

        {{{footer}}}
    </div>
</body>