<section class="section">
    <a href="/terms">Terms of use</a>
    <br>
    <small>Favicon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
</section>

<div class="mobile-footer-padding"></div>

<div class="mobile-footer">
    <div class="mobile-footer-content">
        <a href="/">
            <i class="fas fa-home"></i>
            Home
        </a>
        {{#if accountId}}
            <a href="/quiz">
                <i class="fas fa-scroll"></i>
                Quiz
            </a>

            <a href="/edit">
                <i class="fas fa-feather-alt"></i>
                Edit
            </a>

            <a href="/profile">
                <i class="fas fa-user-alt"></i>
                Profile
            </a>
        {{else}}
            <a href="/login">
                <i class="fas fa-user-alt"></i>
                Login
            </a>
        {{/if}}
    </div>
</div>