{{#if message}}
    <section class="section">
        <div class="notification is-info">
            {{message}}
        </div>
    </section>
{{/if}}

{{#if error}}
    <section class="section">
        <div class="notification is-danger">
            {{error}}
        </div>
    </section>
{{/if}}